.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #00FFFF;
    border-radius: 8px;
    font-size: 12px;
}

.table th,
.table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #00FFFF;
    color: #00FFFF;

}


/* .table td {
    background-color: #fff;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
   */