.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    color: white;
    font-family: Poppins, sans-serif !important;
  }
  
  .toggleButtons {
    text-align: center;
  }
  
  .toggleButtons button:hover,
  .backButton:hover {
    background-color: var(--hover-color) !important;
    color: var(--background-color) !important;
  }
  
  .toggleButtons button.ant-btn-primary {
    background-color: var(--active-color) !important;
    border-color: var(--active-color) !important;
  }
  
  .tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .printButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .printButton:hover {
    color: var(--hover-color);
  }
  
  .chartLayout {
    display: flex;
    gap: 16px;
    width: 100%;
    height: calc(100vh - 110px);
  }
  
  .leftCharts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .rightChart {
    flex: 1;
    position: relative;
  }
  
  .chart {
    height: 100%;
    background: rgb(21, 25, 43);
    border-radius: 8px;
  }
  
  .tableWrapper {
    display: flex;
    gap: 20px;
    height: calc(100vh - 160px);
  }
  
  .chartFixed {
    flex: 1;
    background: rgb(21, 25, 43);
    height: 100%;
  }
  
  .tableScrollable {
    flex: 2;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .tableScrollable::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  .backButton {
    width: 65px;
    background: rgb(21, 25, 43);
    color: #fff;
    border: 1px solid #444;
  }
  
  .iconButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: yellow;
    cursor: pointer;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgba(21, 25, 43, 0.8);  */
    z-index: 1000;
  }

  .pdfLoading, .pdfError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
  }
  
  .dxLink {
    cursor: pointer;
    color: #1890ff;
    text-decoration: underline;
  }
  
  .dxLink:hover {
    color: #40a9ff;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .chartLayout {
      flex-direction: column;
    }
  
    .chart {
      height: 400px;
    }
  
    .tableWrapper {
      flex-direction: column;
      height: auto;
    }
  
    .chartFixed {
      height: 400px;
    }
  }