.patientContentWrapperRow1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.barPatientContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: max-content;
}

.tableContainer {

    min-height: max-content;
    overflow: scroll;
    margin: 0px 10px;
    max-height: 40vh;
}

/* Custom scrollbar styles for WebKit browsers */
.tableContainer::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

/* Scrollbar track (background area) */
.tableContainer::-webkit-scrollbar-track {
    background: rgb(0, 175, 198);
}

/* Scrollbar thumb (the draggable part) */
.tableContainer::-webkit-scrollbar-thumb {
    background: rgb(165, 247, 247);
    /* Set thumb color to match the gradient's ending color */
    border-radius: 5px;
    /* Optional: Make the thumb rounded */
}

.cardsWrapperrr {
    display: flex;
    flex-direction: column;
    gap: 15px;
}