.summaryTab {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.summaryContentWrapperRow1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .barContainer {
    width: 60%;
}

.tableContainer {
    width: 40%;
} */

.tableTypeWrapper {
    display: flex;
    height: 4rem;
    border-radius: 4px;
    color: #00FFFF;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}

.show {
    border: 2px solid #00FFFF;
}

.tableType {
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    /* height: 100%; */
    width: 100%;
    background: #0f8389d6;
    padding: 15px;
    border-radius: 4px;
}

.section2BarTab {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summaryContentWrapperRow2 {}

.pieChartsComponentWrapper {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    /* justify-content: space-between; */
    width: max-content;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.pieSectionTitle {
    color: #00FFFF;
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.cardWrapperr {
    display: flex;
    flex-direction: row;
    gap: 20px;
}