.container {
  display: flex;
  height: 100%; /* Ensure the container takes full height */
  gap: 20px; /* Add gap between components */
  width: 100%;
}

.mainContent {
  flex: 3 1; /* Takes 75% of the available space */
  border-radius: 8px; /* Optional: Add rounded corners */
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack components vertically on smaller screens */
  }

  .mainContent,
  .sidebar {
    flex: 1; /* Take full width on smaller screens */
    max-width: 100%; /* Remove max-width restriction */
  }

  .sidebar {
    margin-top: 20px; /* Add space between components */
  }
}