/* Immunization.module.css */
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  color: white;
}

.chartGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.chartContainer {
  position: relative;
}

.filterButton {
  position: relative;
  color: white;
  cursor: pointer;
}

.iconButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: yellow;
  cursor: pointer;
}

.detailsContainer {
  width: 100%;
}

.detailsContent {
  display: flex;
  gap: 20px;
}

.chartAndConditions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backButton {
  padding: 5px;
  margin-bottom: 10px;
  background: rgb(21, 25, 43);
  color: #fff;
  border: 1px solid #444;
  align-self: flex-start;
  border-radius: 5px;
}

.tableWrapper {
  flex: 1;
  width: 30%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #444;
}

.conditionFilters {
  padding: 15px;
  border-radius: 8px;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filterTitle {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.filterActions {
  display: flex;
  gap: 10px;
}

.conditionList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.conditionItem {
  background-color: #005580;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.conditionItem:hover {
  background-color: #0077a8;
  transform: translateX(3px);
}

.conditionItem.selected {
  background-color: #007bff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .chartGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }

  .detailsContent {
    flex-direction: column;
  }

  .chartAndConditions,
  .tableWrapper {
    width: 100%;
  }
}