.patientDetailsTab {
    height: 100vh;
    background: linear-gradient(194deg, rgb(15 56 62) 22%, rgb(4, 47, 50) 92%)
}

.tableContainer {
    padding: 20px;
}

.heading {
    text-align: center;
    color: #34b1c2;
}

.titleHeader {
    width: 100%;
    color: #00FFFF;
    /* Neon Cyan */
    /* font-size: 24px; */
    /* Adjust as needed */
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #00FFFF;
    /* Glowing effect */
}

.table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    background-color: #142832;
    color: white;
}

.table th,
.table td {
    border: 1px solid #34b1c2;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #225566;
}

.tableRow:hover {
    background-color: #1c3d4a;
}