.hexTileLarge {
  clip-path: polygon(10% 5%, 90% 5%, 100% 50%, 90% 95%, 10% 95%, 0% 50%);
  background: linear-gradient(to bottom, #70305c, #10061a);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.2s;
}

.hexContentSplit {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.donutWithLegend {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.chartContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartIconOverlay {
  position: absolute;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
}
