.mainContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.topRow {
  align-items: center;
  display: flex;
  height: 40%;
}

.donutContainer {
  width: 40%;
  height: 100%;
}

.hexStatsContainer {
  width: 60%;
  height: 100%;
}

.bottomRow {
  display: flex;
  align-items: center;
  height: 60%;
  gap: 20px;
}

.barContainer {
  width: 40%;
  height: 100%;
}

.strLtrContainer {
  width: 30%;
  height: 100%;
}

.mapContainer {
  width: 30%;
  height: 100%;
}
